.tip {
    opacity: 0;
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    animation: show 500ms 300ms forwards;
    box-shadow: 5px 5px 20px #00000005;
}

.primary {
    background-color: #07C160;
    color: #ffffff;
}

.normal {
   background-color: #ffffff;
   color: #07C160;
}

.warning {
   background-color: #FF6961;
   color: #ffffff;
}
            
.tips {
    align-items: end;
    display: flex;
    position: fixed;
    right: 0;
    margin: 5rem 3rem;
    flex-direction: column;
    top: 0;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}