@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Serif+SC:wght@200..900&family=Playwrite+AU+QLD:wght@100..400&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: #07C160;
    --color-secondary: #C4E0C6;
}

@source inline("col-span-{1,2,4} row-span-{1,2,4}");


@utility font-basic {
    font-family: 'Playwrite AU QLD', 'Noto Serif SC', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@utility font-serif {
    font-family: 'Noto Serif SC', serif;
    font-weight: normal;
    font-style: normal;
}

@utility font-wenkai {
    font-family: 'LXGW WenKai Mono TC', monospace, 'Noto Serif SC', serif;
    font-weight: normal;
    font-style: normal;
}

/* home page use start */
@utility pretty-text {
    background-image: linear-gradient(180deg, #62E09F, #07C160);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility grid-background {
    background-image: linear-gradient(to right, #f3f4f660 1px, transparent 1px),
        linear-gradient(to bottom, #f3f4f660 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0;

    /* 核心代码：用伪元素和渐变来创建虚化效果 */
    position: relative;
    /* 关键：为伪元素定位 */

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        /* 让鼠标穿透，不影响点击 */

        /* 使用径向渐变，从中心向四周变透明 */
        background: radial-gradient(ellipse at center,
                transparent 50%,
                white 100%);
        /* 这里的 'white' 替换成你的背景色 */
    }
}

/* home page use end */